@font-face {
    font-family: Signika;
    src: url('../fonts/Signika-Regular.ttf');
}

body{
  font-family:"Signika";
}

.product{
  border-style: ridge;
  margin-bottom: 1%;
}

.product-img{
  height: 100%;
  width: 100%;
  margin: 3%;
}

.facebook-logo{
  height: 28px;
  width: 28px;
  margin-top: -5px;
}

.instagram-logo{
  height: 30px;
  width: 42px;
  margin-top: -5.5px;
  margin-left: -8px;
}

.hfarm{
  display: none;
}

.mouseHover{
    cursor:pointer;
}

.logo_header{
  width: 300px;
  border-radius: 0px 0px 25px 25px; 
  background-color: #fff;
  border-left: 5px solid #E6E6E6 !important;
  border-right: 5px solid #E6E6E6 !important;
  border-bottom: 6px solid #E6E6E6 !important;
  top: 0px;
}

.carrusel{
  padding-top: 0;
  }

.navbar {
/*  background: rgb(180,4,4,0.3);*/
  background: transparent;
  border-color: transparent;  
  position: fixed;
  left: 0px;
  top: 0px;
 /* box-shadow: 0 8px 8px -8px #000000;*/
}

nav.navbar > li > a{
    color: black;
}

.border-bottom-shadow, .logo_header{
	-webkit-box-shadow: 0 10px 8px -8px #000000;
  -moz-box-shadow: 0 10px 8px -8px #000000;
  box-shadow: 0 10px 8px -8px #000000;
  border-bottom-color: transparent;
}

.navbar-link{
  color: white !important;
  text-shadow: -1px 1px #262a2b, 0 1px #262a2b, 2px 0 #262a2b, 0 -1px #262a2b !important;
  font-size: x-large !important;
  font-weight: bolder;
}

.navbar-link:hover{
  text-shadow: -1px 1px #262a2b, 0 1px #262a2b, 3px 0 #262a2b, 0 -1px #262a2b !important;
}

.dropdown-toggle{
  background-color: none !important;
}


#headcover{
  padding: 0px !important; 
  margin: 0px !important;
  height: 400px;
}

.home{
  background-color: transparent;
}

.home1{
  background-color: #fcfcfc;
}

#map{
  border: 2px solid #E6E6E6 !important;
}

.panel{
  height: auto !important;
  background-color: #F2F2F2 !important;
}
.panel-body > p{
  font-size:  11pt;
  font-weight: lighter !important;
  text-align: justify;
}
.panel-heading > h4{
  color:  white !important;
  text-align: center !important;
}

.encabezado{
  background-color: #FE9A2E !important;
}

.footer{
  background: #282A2B;
  color: #FAFAFA;
  text-align: center;
}


/*///////////////////////////RESPONSIVE//////////////////////////////////*/


 /* Responsive para dispositivos Medianos*/
@media (max-width: 992px){
  .logo_header{
    display: none;
    }
    

    #contentop{
      padding-top: 0px !important;
    }
}


 /* Responsive para dispositivos moviles*/
@media (max-width: 768px){ 

   .hfarm{
      display: block;
      color: #fff !important;
      font-size: 28pt !important;
    }

    .navbar {
      background: #B40404;
    }

   .navbar-link{
      font-size: 12pt !important;
      color: white;
    }

   .navbar-link:hover{
      color: #1C1C1C !important;
      background: #f3f3f3 !important;
      text-shadow: none !important;
    }

    .carrusel{
      padding-top: 50px;
    }

    #contentop{
      padding-top: 0px !important;
    }

    #headcover{
      padding-top: 55px !important;
    }
}

@media (max-width: 400px){
  
   .hfarm{
      color: #fff !important;
      font-size: 20pt !important;
    }

    .carrusel{
      padding-top: 50px;
    }

    #contentop{
      padding-top: 0px !important;
    }
}

@media (max-width: 250px){
  .hfarm{
      font-size: 13pt !important;
    }
  #menu{
    margin: 2px;
    padding: 0px;
  }
}
/*

@media (min-width: 1900px){
 #myCarousel{
  display: none;
 }
}*/