    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="mouseHover navbar-brand" onclick="loadIndex();" style="padding-top:0;"><img class="border-bottom-shadow"src="img/logo.png" style="height:60px; width:220px; border-radius: 0px 0px 25px 25px;"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" >
                    <li class="mouseHover navbar-link">
                        <a onclick="loadIndex();" class="mouseHover navbar-link">Home</a>
                    </li>
                    <li class="mouseHover navbar-link">
                        <a id="about" onclick="loadAbout();" class="mouseHover navbar-link">About Us</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle navbar-link" data-toggle="dropdown">Our Products<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-list" href="portfolio-1-col.html">Heirloom Tomato</a>
                            </li>
                            <li>
                                <a class="dropdown-list" href="portfolio-2-col.html">Cherry Heirloom Tomato</a>
                            </li>
                            <li>
                                <a class="dropdown-list" href="portfolio-3-col.html">Sungold Heirloom Tomato</a>
                            </li>                            
                        </ul>
                    </li>
                    <li>
                        <a onclick="loadContact();" class="mouseHover navbar-link">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Header Carousel -->

    <header id="myCarousel" class="carousel slide container-fluid">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('img/heirloom.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Heirloom Tomato</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/greenhouse.png');"></div>
                <div class="carousel-caption">
                    <h2>Our Greenhouse</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('img/field.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Our Fields</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
<div class="Container_Carousel carrusel">
            <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <!--Indicadores-->
                <ol  class="carousel-indicators">
                    <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-1" data-slide-to="1"></li>
                    <li data-target="#carousel-1" data-slide-to="2"></li>
                </ol>
                <!--Contenedor de los Slides-->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="img/greenhouse.png" class="img-responsive">
                        <div class="carousel-caption hidden-xs">
                            <h3>TITULO</h3>
                        </div>
                    </div>
                    <div class="item">
                        <img src="img/greenhouse.png" class="img-responsive">
                        <div class="carousel-caption hidden-xs">
                            <h3>TITULO</h3>
                        </div>
                    </div>
                    <div class="item">
                        <img src="img/greenhouse.png" class="img-responsive">
                        <div class="carousel-caption hidden-xs">
                            <h3>TITULO</h3>
                        </div>
                    </div>
                    <a href="#carousel-1" class="left carousel-control" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a href="#carousel-1" class="right carousel-control" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </div>
            </div>
</div>

_______---------========================GALERY============================0
        <!-- Portfolio Section -->
       <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Products</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#" class="thumbnail" >
                    <img class="img-responsive" src="img/prod/cherry_heirloom.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#" class="thumbnail">
                    <img class="img-responsive" src="img/prod/heirloom.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#" class="thumbnail">
                    <img class="img-responsive" src="img/prod/pineapplemarvel.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#" class="thumbnail">
                    <img class="img-responsive" src="img/prod/sungold.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#" class="thumbnail">
                    <img class="img-responsive" src="img/prod/vineripe.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#" class="thumbnail">
                    <img class="img-responsive" src="img/prod/yellowcherry.jpg" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->