<div class="row">
	<div class="col-md-4 product">
		<img class="product-img" src="heirloomfarms/img/products/heirloom.jpg">
		<div class="panel-heading encabezado">
			<h4>Heirloom Tomato</h4>
        </div>
		<div class="panel-body">
			<p>
                Our beautiful Heirloom Tomato.   
            </p>
        </div>
	</div>
	<div class="col-md-4 product">
		<img class="product-img" src="../img/products/heirloom.jpg">
		<div class="panel-heading encabezado">
			<h4>Heirloom Tomato</h4>
        </div>
		<div class="panel-body">
			<p>
                Our beautiful Heirloom Tomato.   
            </p>
        </div>
	</div>
	<div class="col-md-4 product">
		<img class="product-img" src="../img/products/heirloom.jpg">
		<div class="panel-heading encabezado">
			<h4>Heirloom Tomato</h4>
        </div>
		<div class="panel-body">
			<p>
                Our beautiful Heirloom Tomato.   
            </p>
        </div>
	</div>
</div>