<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Our Products</h1>
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Our Products</li>
        </ol>
    </div>
</div>
<div class="row">
	<div class="col-md-4 product">
		<img class="product-img" src="img/products/cherry-heirloom-mix.png">
		<div class="panel-heading encabezado">
			<h4>Cherry Heirloom Mix</h4>
        </div>
		<div class="panel-body">
			<p>
                12 pints  
                8 x 1 lb. 
            </p>
        </div>
	</div>
	<div class="col-md-4 product">
		<img class="product-img" src="img/products/heirloom-tomato-mix.png">
		<div class="panel-heading encabezado">
			<h4>Heirloom Tomato Mix</h4>
        </div>
		<div class="panel-body">
			<p>
                10 lbs.   
            </p>
        </div>
	</div>
	<div class="col-md-4 product">
		<img class="product-img" src="img/products/red-cherry-tomato.jpg">
		<div class="panel-heading encabezado">
			<h4>Red Cherry Tomato</h4>
        </div>
		<div class="panel-body">
			<p>
                12 pints   
            </p>
        </div>
	</div>
</div>
<div class="row">
	<div class="col-md-4 product">
		<img class="product-img" src="img/products/yellow-cherry-tomato.jpg">
		<div class="panel-heading encabezado">
			<h4>Yellow Cherry Tomato</h4>
        </div>
		<div class="panel-body">
			<p>
                12 pints  
            </p>
        </div>
	</div>
	<div class="col-md-4 product">
		<img class="product-img" src="img/products/red-grape-tomato.jpg">
		<div class="panel-heading encabezado">
			<h4>Red Grape Tomato</h4>
        </div>
		<div class="panel-body">
			<p>
                12 pints   
            </p>
        </div>
	</div>
	<div class="col-md-4 product">
		<img class="product-img" src="img/products/yellow-grape-tomato.jpg">
		<div class="panel-heading encabezado">
			<h4>Yellow Grape Tomato</h4>
        </div>
		<div class="panel-body">
			<p>
                12 pints  
            </p>
        </div>
	</div>
	<div class="col-md-4 product">
		<img class="product-img" src="img/products/sungold-cherry-tomato.jpg">
		<div class="panel-heading encabezado">
			<h4>Sungold Cherry Tomato</h4>
        </div>
		<div class="panel-body">
			<p>
                12 pints  
            </p>
        </div>
	</div>
	<div class="col-md-4 product">
		<img class="product-img" src="img/products/black-cherry-tomato.jpg">
		<div class="panel-heading encabezado">
			<h4>Black Cherry Tomato</h4>
        </div>
		<div class="panel-body">
			<p>
                12 pints  
            </p>
        </div>
	</div>
	<div class="col-md-4 product">
		<img class="product-img" src="img/products/sweet-100s-cherry-tomato.jpg">
		<div class="panel-heading encabezado">
			<h4>Sweet 100's Cherry Tomato</h4>
        </div>
		<div class="panel-body">
			<p>
                 12 pints 
            </p>
        </div>
	</div>
	<div class="col-md-4 product">
		<img class="product-img" src="img/products/yellow-beefsteak-tomato.jpg">
		<div class="panel-heading encabezado">
			<h4>Yellow Beefsteak Tomato</h4>
        </div>
		<div class="panel-body">
			<p>
                10 lbs 
            </p>
        </div>
	</div>
	<div class="col-md-4 product">
		<img class="product-img" src="img/products/red-cluster-cherry-tomato.jpg">
		<div class="panel-heading encabezado">
			<h4>Red Cluster Cherry Tomato</h4>
        </div>
		<div class="panel-body">
			<p>
                 12 pints
            </p>
        </div>
	</div>
	<div class="col-md-4 product">
		<img class="product-img" src="img/products/yellow-pear-tomato.jpg">
		<div class="panel-heading encabezado">
			<h4>Yellow Pear Tomato</h4>
        </div>
		<div class="panel-body">
			<p>
                12 pints
            </p>
        </div>
	</div>
	<div class="col-md-4 product">
		<img class="product-img" src="img/products/red-pear-tomato.jpg">
		<div class="panel-heading encabezado">
			<h4>Red Pear Tomato</h4>
        </div>
		<div class="panel-body">
			<p>
                12 pints
            </p>
        </div>
	</div>
	<div class="col-md-4 product">
		<img class="product-img" src="img/products/tomato-vine-ripe.jpg">
		<div class="panel-heading encabezado">
			<h4>Tomato Vine Ripe</h4>
        </div>
		<div class="panel-body">
			<p>
                 12 pints
            </p>
        </div>
	</div>
</div>
